[user]
	name = Katharsis0
  email = hvsebas@estudiantec.cr 

[core]
	pager = bat
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
